body {
  margin: 0;
  padding: 50px 0 0 0;
  color: rgb(211, 211, 211);
  background-color: rgb(48, 48, 48);
}

body, button, textarea {
  /*font-family: Montserrat, sans-serif;*/
}

.containerHorizontal {
  display: flex;
  justify-content: center;
}

.containerVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin: 0 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

button {
  background-color: rgb(211, 211, 211);
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  font-weight: 500;
  margin: 0 4px;
}

button:active {
  background-color: rgb(255, 255, 255);
  padding: 4px 7px;
  margin: 1px 5px;
}

#text {
  margin: 0 auto;
  user-select: none;
}

#text1 {
  margin: 0 10px;
  max-width: 450px;
}

#text2 {
  margin: 0 10px;
  max-width: 450px;
}

p {
  /*font-family: serif;*/
  font-size: 20px;
  display: inline;
  word-break: break-all;
}

.selected {
  background-color: rgb(95, 95, 95);
}

#window {
  display: none;
  flex-direction: column;

  background-color: rgb(17, 17, 17);
  position: fixed;
  padding: 20px;

  border-radius: 10px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  background-color: rgb(211, 211, 211);
  resize: none;
  margin-bottom: 8px;
  width: 500px;
  height: 200x;
  border: none;
  outline: none;
  border-radius: 3px;
}

#voices {
  background-color: rgb(95, 95, 95);
  border: none;
  border-radius: 3px;
  margin-right: 4px;
}
